.App {
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
  }
  
  h2 {
    text-align: center;
    font-weight: normal;
    font-size: 22px;
  }
  
  .Form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .TextField {
    padding-bottom: 15px!important;
  }
  
  .UpdateButton {
    max-width: 200px!important;
    align-self: center!important;
  }
  