.shipmentModal {
    border-radius: 10px;
    width: 500px;
    height: 505px;
    background-color: rgb(250, 249, 246); 
    z-index: 999;
    position: absolute;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 30px gray;
}

.shipmentForm {
    margin-bottom: 10px;
    position: relative;
    display: flex;
    flex-direction:column;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}

.colorPicker {
    margin-top: 10px;
    margin-bottom: 20px;
}
